h1 {
	text-align:center;
	color:blue;
}
#mainBody {
	margin: auto;
	width: 1000px;
	background-color: gray;
}
table, th, td{
	border: 1px solid black;
    border-collapse: collapse;
}
img {
	width: 100%;
	cursor: pointer;
}
img:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px;
}


